#page {
	margin-top: 80px;
}

.filter {
	margin-top: 5px;
	margin-bottom: 15px;
}

.add-icon {
	position: fixed;
	bottom: 30px;
	right: 30px;
	text-shadow: 5px 5px 5px #ccc;
}

.add-icon a {
	color: black;
}
