<h2>Feature requests</h2>

<div class="text-center">
  Show feature requests for:
  <button class="btn" data-bind="css: {'btn-success' : $component.isSelected.bind($component)($data), 'btn-default' : !$component.isSelected.bind($component)($data)}, click: $component.filterByClient.bind($component)">All clients</button>
  <!-- ko foreach: clients -->
    <button class="btn" data-bind="css: {'btn-success' : $component.isSelected($data), 'btn-default' : !$component.isSelected.bind($component)($data)}, text: name, click: $component.filterByClient.bind($component)"></button>
  <!-- /ko -->
</div>

<table id="feature_requests_dt" class="table table-hover">
  <thead>
    <tr>
      <td>ID</td>
      <td>Client ID</td>
      <td>Title</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div class="add-icon"><a href="javascript:void(0)"><i class="fa fa-plus-circle fa-4x"></i></a></div>
