<h2>Feature requests</h2>

<div class="text-center">
  Show feature requests for:
  <button class="btn btn-default" data-bind="click: $component.filterByClient.bind($component)">All clients</button>
  <!-- ko foreach: clients -->
    <button class="btn btn-default" data-bind="text: name, click: $component.filterByClient.bind($component)"></button>
  <!-- /ko -->
</div>

<table id="feature_requests_dt" class="table table-hover">
  <thead>
    <tr>
      <td>ID</td>
      <td>Client ID</td>
      <td>Title</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
